.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: var(--card-bg);
}
.cardImage {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardProductDescription {
    color: var(--description-text);
}

